@model HistoryViewModel

@{
  Layout = "_LogedLayout";
  ViewData["log"] = "Logout";
} 


<div class="container subpage">
  
  <div class="title">
    <p>Order History</p>
  </div>
  <table class="table">
    <thead class = "table-dark">
      <tr>
        <th scope="col">No:</th>
        <th scope="col">OderId</th>
        <th scope="col">OrderDate</th>
        <th scope="col">StoreId</th>
        <th scope="col">totprice</th>
        <th scope="col">Pizzas</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>dummy</td>
        <td>dummy</td>
        <td>dummy3</td>
        <td>$0.00</td>
        <td>
          <table>
            <thead class = "table-dark">
              <tr>
                <th scope="col">Pizza Names</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
                
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
    @* <tfoot>
      <tr>
        <th>Total Price</th>
        <td></td>
        <td></td>
        <td></td>
        <td>$@totprice</td>
      </tr>
    </tfoot> *@
  </table>
  <a class = "btn btn-primary" href="/pizza/order">New More</a>
</div>

