@{
  Layout = "_Layout";

}


<div class="container-full-bg">
    <div class="jumbotron">
        <div class="container">
            <a href="/account/logout">logout</a>
            <h1 class="display-4">Welcome @Model.UserName</h1>
            <p class="lead">Welcome To Store</p>
            <hr class="my-4">
            <a href="order/history">Inventory</a>
            <a href="/store/add">Add Stocks</a>
            @Html.ActionLink("Add Stocks", "add", "store");
            </div>
        </div>
</div>