@model PizzaBox.Client.Models.UserModel
@{
  Layout = "_LogedLayout";
  ViewData["log"] = "Logout";
  @* ViewData["user"] = @Model.UserName; *@
} 

<div class="container subpage">
  <div class="title">
    <p>Welcome @TempData["username"].ToString().ToUpper() Choose your store</p> 
  </div>  
    <form action="/pizza/order/@Model.Id" method="Get"> 
      @foreach(var store in @Model.Stores)
      {
        <label class="btn " style="background-color: purple; color:white">
        <input type="radio" name="Id" Value=@store.Id />@store.Name</label><br><br>
      }
      <a href="/history/orderhistory" class="btn float-right " style="font-size:28px;background-color:blue">Order History</a><br>
      <button class="btn btn-success" type="submit" style="font-size:28px; background-color:purple; color:white">Go to Order</button>
    </form>  
</div> 
