@{
  Layout = "_Layout";
}

@* <link href="~/css/style.css" rel="stylesheet" type="text/css" /> *@

<div class="container subpage">
  
  <div class="title">
    <p>Add More Pizza To your Store</p>
  </div>
  <div class="wrapper">
    <div class="form-content">
      <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Pizza Name *" name="PizzaName"/>
              <input type="number" min="1" max="200" class="form-control" placeholder="Quantity" name="Quantity"/>
            </div>
        </div>
      <input type="submit" class="btnSubmit" value="Add"/>
    </div>
  </div>
</div>
